.o_rating_pill {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin: 5px;
    font-size: 24px; // Tamaño de las estrellas
    color: lightgray; // Color por defecto de las estrellas no seleccionadas
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
        transition: 0.3s;
    }

    &.active {
        color: gold; // Color de las estrellas seleccionadas
    }
}
